{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-import",
          {
            "libraryName": "@mui/material",
            "libraryDirectory": "",
            "camel2DashComponentName": false
          },
          "core"
        ],
        [
          "babel-plugin-import",
          {
            "libraryName": "@mui/icons-material",
            "libraryDirectory": "",
            "camel2DashComponentName": false
          },
          "icons"
        ]
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-import",
          {
            "libraryName": "@mui/material",
            "libraryDirectory": "",
            "camel2DashComponentName": false
          },
          "core"
        ],
        [
          "babel-plugin-import",
          {
            "libraryName": "@mui/icons-material",
            "libraryDirectory": "",
            "camel2DashComponentName": false
          },
          "icons"
        ]
      ],
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "browsers": [">0.03%"]
              }
            }
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "icons"
    ]
  ]
}
