{
  "extends": ["stylelint-config-recommended"],
  "overrides": [
    {
      "files": ["**/*.js"],
      "customSyntax": "@stylelint/postcss-css-in-js",
      "rules": {
        "string-quotes": "single"
      }
    }
  ]
}
