name: Next.js Template CI
on:
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Test and generate coverage report
        uses: artiomtr/jest-coverage-report-action@v2.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          threshold: 80
          package-manager: yarn

      - name: Build
        run: yarn build:dev
